body{text-align:center;
    background:rgb(110, 234, 203);
color:black;
font-family:courier;
margin:20px;
padding:20px;
font-size:40px;
}
h1{font-style:italic;
border:5px solid rgb(3, 64, 36);
border-radius:30px}
h3{font-size:50px}