body{text-align:center;
    background:rgb(110, 234, 203);
color:black;
font-family:courier;
margin:20px;
padding:20px;
font-size:40px;
border:3px solid rgb(1, 148, 148)
}
h1{font-style:italic;
border:5px solid rgb(3, 64, 36);
border-radius:30px}
h3{font-size:50px}
img {
  /* Shadow: horizontal-offset | vertical-offset | blur-radius | color */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px; /* optional, for rounded corners */
}
