body{background:beige;
font-size:30px;
color:rgb(48, 42, 35);
margin:10px
}
h1
{color:rgb(254, 254, 254);
font-family:Gill Sans;
font-size:50px;
color:rgb(98, 75, 52);
text-align:center;
border:10px solid rgb(58, 37, 6);
border-radius:30px;
}
h2
{color:rgb(98, 75, 52);
font-family:'Courier New', Courier, monospace;
font-size:40px}
hr
{color:black:}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;          /* Arrange items in a row */
  justify-content: center; /* Center horizontally */
  gap: 20px;              /* Space between items */
   border:2px
}

li {
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
 }
 div{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(8px);
  padding: 20px 30px;
  border-radius: 16px;
  max-width: 400px;
  text-align: center;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}






